.css-body {
  background-color: #ebece7;


  /*background: #DD2476;
  background: -webkit-linear-gradient(-90deg, #FF512F, #DD2476);
  background: -o-linear-gradient(-90deg, #FF512F, #DD2476);
  background: -moz-linear-gradient(-90deg, #FF512F, #DD2476);
  background: linear-gradient(-90deg, #FF512F, #DD2476);*/
}

/*.soon {
margin-left: 425px;
text-align: center;
color: rgba(255, 255, 255, 0.29);
border-radius: 20%;
border: solid rgba(255, 255, 255, 0.29) 10px;
width: 35%;
height: 30%;
top: 100px;
font-size: 50px;
}*/

div.col-sm-4 {
  padding: 0;
}
div.container-fluid {
  padding: 0 30px;
}


/**/

.back {
  color: #609062;
  padding-left: 35px;
  font-size: 30px;
  margin: 0 0 15px;
}

.title {
  font-size: 110px;
  color: #d9dcca;
  padding-left: 80px;
  margin: 0;
  padding-left: 15px;
  padding-bottom: 30px;
  line-height: 60px;
}

h3  {
  background-color: #dadccf;
  margin-top: 0;
  padding: 15px 0;
}
