body {

}

.triangle1 {
  width: 100%;
  height: 100px;
  background: #ff005f;
  /* -webkit-clip-path: polygon(0 0, 0 15%, 100% 0); */
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
/*.triangle2 {
  width: 100%;
  height: 100px;
  background: #ff005f;
  -webkit-clip-path: polygon(0 25%, 0 0, 100% 25%));
  clip-path: polygon(0 25%, 0 0, 100% 25%));
}*/

.bg-1 {
  /*background-color: #Fff000;*/
  background-color: #ff005f;
  color: #ff4780;
  width: 100%;
  height: 100vh;
}
.big {
  margin-top: 0px;
  font-size: 100px;
  padding-top: 60vh;
  padding-left: 20px;
  font-weight: bold;
  margin-bottom: -120px;
}

/*code for scrolling text*/
.text {
  /*font:normal 100px 'Raleway', sans-serif;*/
  font: normal 100px Montserrat, sans-serif;
  color: #fff;
  /*color: #272727;*/
}
.text p {
  height: 100px;
  float: left;
  margin-right: 0.25em;
  padding-left: 20px;
}

.text b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 120px;

}
.text .inner-text {
  display: inline-block;
  color: #fff;
  /*color: #272727;*/
  /*color: #e74c3c;*/
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


  /*animation*/
  -webkit-animation:move 10s;
  -moz-animation:move 10s;
  -ms-animation:move 10s;
  -o-animation:move 10s;
  /*         animation:move 5s; */
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -ms-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
}

@keyframes move{
  0%  { top: 0px; }/*developer*/
  20% { top: 0px; }/*developer*/
  21% { top: -110px; }
  23% { top: -110px; }
  24% { top: -230px; }
  26% { top: -230px; }
  27% { top: -340px; }
  29% { top: -340px; }
  30% { top: -460px; }
  32% { top: -460px; }
  33% { top: -575px; } /*creative*/
  53% { top: -575px; }/*creative*/
  54% { top: -690px; }
  56% { top: -690px; }
  57% { top: -800px; }
  59% { top: -800px; }
  61% { top: -920px; }
  63% { top: -920px; }
  64% { top: -1030px; }
  66% { top: -1030px; }
  67% { top: -1150px; } /*dreamer*/
  87% { top: -1150px; } /*dreamer*/
  88% { top: -1260px; }
  90% { top: -1260px; }
  91% { top: -1380px; }
  93% { top: -1380px; }
  94% { top: -1490px; }
  96% { top: -1490px; }
  97% { top: -1610px; }
  99% { top: -1610px; }
  100%{ top: -1725px; }/*developer*/
}


@-webkit-keyframes move {
  0%  { top: 0px; }/*developer*/
  20% { top: 0px; }/*developer*/
  21% { top: -50px; }
  23% { top: -50px; }
  24% { top: -100px; }
  26% { top: -100px; }
  27% { top: -150px; }
  29% { top: -150px; }
  30% { top: -200px; }
  32% { top: -200px; }
  33% { top: -250px; } /*creative*/
  53% { top: -250px; }/*creative*/
  54% { top: -300px; }
  56% { top: -300px; }
  57% { top: -350px; }
  59% { top: -350px; }
  61% { top: -400px; }
  63% { top: -400px; }
  64% { top: -450px; }
  66% { top: -450px; }
  67% { top: -500px; } /*dreamer*/
  87% { top: -500px; } /*dreamer*/
  88% { top: -550px; }
  90% { top: -550px; }
  91% { top: -600px; }
  93% { top: -600px; }
  94% { top: -650px; }
  96% { top: -650px; }
  97% { top: -700px; }
  99% { top: -700px; }
  100%{ top: -750px; }/*developer*/
}

@-moz-keyframes move {
  0%  { top: 0px; }/*developer*/
  20% { top: 0px; }/*developer*/
  21% { top: -50px; }
  23% { top: -50px; }
  24% { top: -100px; }
  26% { top: -100px; }
  27% { top: -150px; }
  29% { top: -150px; }
  30% { top: -200px; }
  32% { top: -200px; }
  33% { top: -250px; } /*creative*/
  53% { top: -250px; }/*creative*/
  54% { top: -300px; }
  56% { top: -300px; }
  57% { top: -350px; }
  59% { top: -350px; }
  61% { top: -400px; }
  63% { top: -400px; }
  64% { top: -450px; }
  66% { top: -450px; }
  67% { top: -500px; } /*dreamer*/
  87% { top: -500px; } /*dreamer*/
  88% { top: -550px; }
  90% { top: -550px; }
  91% { top: -600px; }
  93% { top: -600px; }
  94% { top: -650px; }
  96% { top: -650px; }
  97% { top: -700px; }
  99% { top: -700px; }
  100%{ top: -750px; }/*developer*/

}

@-o-keyframes move {
  0%  { top: 0px; }/*developer*/
  20% { top: 0px; }/*developer*/
  21% { top: -50px; }
  23% { top: -50px; }
  24% { top: -100px; }
  26% { top: -100px; }
  27% { top: -150px; }
  29% { top: -150px; }
  30% { top: -200px; }
  32% { top: -200px; }
  33% { top: -250px; } /*creative*/
  53% { top: -250px; }/*creative*/
  54% { top: -300px; }
  56% { top: -300px; }
  57% { top: -350px; }
  59% { top: -350px; }
  61% { top: -400px; }
  63% { top: -400px; }
  64% { top: -450px; }
  66% { top: -450px; }
  67% { top: -500px; } /*dreamer*/
  87% { top: -500px; } /*dreamer*/
  88% { top: -550px; }
  90% { top: -550px; }
  91% { top: -600px; }
  93% { top: -600px; }
  94% { top: -650px; }
  96% { top: -650px; }
  97% { top: -700px; }
  99% { top: -700px; }
  100%{ top: -750px; }/*developer*/

}


.bg-2 {
  /*background-color: #3745b5;*/
  background-color: #fff;
  color: #333;
  font-weight: bold;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  /*border: dotted 15px yellow;*/
  position: relative;
}

.bg-3 {
  /*background-image: url("images/grid.png");
  background-size: 20px;
  background-repeat: repeat;*/
  background-color: #4cc0c2;
  color: #333;
  height: 910px;
  position: relative;
}

div.container-fluid.bg-3 {
  /*padding: 0;*/
}

.bg-4 {
  background-color: #f54784;
  /*background-color: #ff736b;*/
  color: #ffffff;
  height: 85vh;
}

.tagline {
  margin: 50vh 0 0 0;
  font-size: 100px;
}

.intro {
  font-size: 100px;
  margin: 0;
}

.bg2text {
font-weight: bold;
font-size: 155px;
color: rgba(237, 252, 4, 0.48);
z-index: 1;
position: absolute;
right: 37px;
top: -97px;
}

.bout-me {
  text-align: left;
  font-size: 20px;
  margin-left: 60px;
  padding-left: 80px;
}

.me-stuff {
  margin-top: 85px;
  font-size: 40px;
  text-align: left;
  margin-left: 50px;
}

.pic {
  width: 50%;
  margin-left: 160px;
  border-radius: 50%;
  border: solid 10px white;
}

.bg4 {
  margin-top: 150px;
  font-size: 120px;
  font-family: 'Raleway', sans-serif;
    color: white;
  text-decoration: none;
}

.bg4text {
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
}

.link1, .link2, .link3{
  padding: 0 13px;
  text-decoration: none;
  color: white;
}

.link1:hover{
  text-decoration: none;
  color: white;
  /*font-weight:bolder;*/
}
.link2:hover{
  text-decoration: none;
  color: green;

}
.link3:hover{
  text-decoration: none;
  color: blue;
}

footer {
  height: 15vh;
  text-align: center;
  padding: 40px 0;
  background-color: #F1216A;
  color: white;
}

nav.navbar.navbar-default.navbar-fixed-top {
  background: none;
  border: none;
}


.navbar li a, .navbar .navbar-brand {
  color: #272727 !important;
  font-weight: bold;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  /*color: #272727 !important;*/
  background-color: rgba(255, 255, 255, 0.75) !important;
  /*background-color: #ffffff !important;*/
  font-weight: bold;
}

.movepic {
padding-left: 175px;
}

.polaroid {
  width: 316px;
  height: 353px;
  /*background:white;*/
  border-top:8px solid #f7f6f5;
  border-right:8px solid #f7f6f5;
  border-left:8px solid #f7f6f5;
  border-bottom:45px solid #f7f6f5;
  -webkit-animation-name: test;
  -webkit-animation-duration: 2s;
  animation-name: test;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes test {
  0%   {background-image: url("images/me.jpg");}
  33%  {background-image: url("images/me2.jpg");}
  66%  {background-image: url("images/me.jpg");}
  100% {background-image: url("images/me2.jpg");}
}

@keyframes test {
  0%   {background-image: url("images/me.jpg");}
  33%  {background-image: url("images/me2.jpg");}
  66%  {background-image: url("images/me.jpg");}
  100% {background-image: url("images/me2.jpg");}
}

/*project overlays*/
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(76, 192, 194, 0.75);
  /*background-color:rgba(241, 139, 44, 0.75);*/
}

.pone:hover .overlay1 {
  opacity: 1;
}

.o-text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.col-sm-6 {
  padding: 15px;
}

h3  {
  color: black;
}


h3.bg2text {
  margin: 0;
}

p.me-stuff {
  top: 100px;
}
.link1 {
  font-weight: bolder;
}

h3.portfolio {
  font-size: 155px;
  color: rgba(33, 142, 138, 0.21);
  line-height: 100%;
  margin: 0;
  text-align: left;
  z-index: 1;
  position: absolute;
  top: -102px;
}
 .link-a, .link-b, .link-c {
   font-weight: bold;
   color: white;
   padding: 0 10px;
 }

 .link-a:hover, .link-b:hover, .link-c:hover {
   font-weight: bold;
   color: white;
   text-decoration: line-through;

 }
