body {
  /*background-color: #facade;*/
}

.bg-1 {
background-color: #1abc9c;
color: #ffffff;
height: 720px;
}

.bg-2 {
background-color: #1fff1f;
color: #ffffff;
height: 710px;
}

.bg-3 {
background-color: #9abc9c;
color: #ffffff;
height: 1000px;
}

.bg-4 {
background-color: #5efe5e;
color: #ffffff;
height: 570px;
}

.tagline {
  margin-top: 300px;
}

.intro {
  font-size: 80px;
}

footer {
  height: 100px;
  text-align: center;
  padding: 40px 0;
}
